apache-airflow>=3.1.0
apache-airflow-providers-docker==3.10.0
python-dotenv==1.0.0
pandas==2.0.3
pydantic==2.0.0
numpy==1.26.4
scikit-learn==1.7.2
matplotlib==3.8.1
seaborn==0.13.2
reportlab==5.0.0
requests==2.31.0
nbconvert==7.7.0
jupyter==1.0.0
pytest==7.4.0
joblib==1.4.2
mlflow==3.14.0
dvc==3.67.1